<main>
  <section class="hero">
    <div class="hero-content">
      <div class="hero-image">
        <img src="https://kettocdn.gumlet.io/media/banner/0/71/image/626a109be777492340e46d013c3cad0857a5da3a.png?w=1858&dpr=1.0" alt="Hero Image">
      </div>
      <div class="hero-text">
        <h1>Transform Wishes into Reality</h1>
        <p>Join Wishwell and make dreams come true through crowdfunding.</p>
        <a routerLink="/register" class="cta-button">Start Crowdfunding</a>
      </div>
    </div>
  </section>
  
    <section class="about">
      <div class="container">
        <h2>About Wishwell</h2>
        <p>Wishwell is a crowdfunding platform that empowers individuals and organizations to turn their dreams into reality. Whether it's funding a creative project, supporting a cause, or bringing a product to market, Wishwell provides the tools and support needed to launch successful campaigns.</p>
       
      </div>
    </section>
  
    <section class="features">
      <div class="container">
        <div class="feature">
          <h3>Easy to Use</h3>
          <p>Wishwell offers a user-friendly interface, making it easy for campaigners to create and manage their projects.</p>
        </div>
        <div class="feature">
          <h3>Secure Transactions</h3>
          <p>With built-in payment processing and security measures, Wishwell ensures that transactions are safe and reliable.</p>
        </div>
        <div class="feature">
          <h3>Community Support</h3>
          <p>Join a vibrant community of backers and supporters who are passionate about making a difference.</p>
        </div>
      </div>
    </section>
  </main>
  