<!-- profile.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- profile.component.html -->
<div class="container">
  <div class="sidebar">
    <ul>
      <li (click)="profile()">Profile</li>
      <li (click)="showDonations()">Donations</li>
      <li (click)="showBalance()">Balance</li>
      <li *ngIf="userProfile.role === 'fundraiser'" (click)="CreateCampaign()">Create Campaign</li>
      <li *ngIf="userProfile.role === 'fundraiser'" (click)="showMyCampaigns()">My Campaigns</li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div>

  
  <div class="main-content">
    <div [ngSwitch]="selectedOption">
      <div *ngSwitchCase="'profile'">
        <!-- Profile details template -->
        <h2>Profile Details</h2>
      
        <!-- Name field with edit option -->
        <div *ngIf="!editMode.name">
          <span>Name: {{ userProfile.name }}</span>
          <button (click)="toggleEditMode('name')">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
        <div *ngIf="editMode.name">
          <input type="text" [(ngModel)]="userProfile.name">
          <button (click)="saveChanges('name')">Save</button>
          <button (click)="cancelEdit('name')">Cancel</button>
        </div>
      
        <!-- Email field -->
        <div *ngIf="!editMode.email">
          <span>Email: {{ userProfile.email }}</span>
        </div>
      
        <!-- Date of Birth field -->
        <div *ngIf="!editMode.dob">
          <span>Date of Birth: {{ userProfile.dob || 'N/A' }}</span>
        </div>
      
        <!-- Sex field -->
        <div *ngIf="!editMode.sex">
          <span>Sex: {{ userProfile.sex }}</span>
        </div>
      
        <!-- Age field -->
        <div *ngIf="!editMode.age">
          <span>Age: {{ userProfile.age }}</span>
        </div>
      
        <!-- PAN field -->
        <div *ngIf="!editMode.pan">
          <span>PAN: {{ userProfile.pan }}</span>
        </div>
      
        <!-- Balance field -->
        <div>
          <span>Balance: {{ userProfile.balance }}</span>
        </div>
      
        <!-- Address field -->
        <div *ngIf="!editMode.address">
          <span>Address: {{ userProfile.address || 'N/A' }}</span>
        </div>
      
        <!-- City field -->
        <div *ngIf="!editMode.city">
          <span>City: {{ userProfile.city || 'N/A' }}</span>
        </div>
      
        <!-- Role field -->
        <div>
          <span>Role: {{ userProfile.role }}</span>
        </div>
      
        <!-- Description field -->
        <div *ngIf="!editMode.description">
          <span>Description: {{ userProfile.description || 'N/A' }}</span>
        </div>
      
        <!-- Created At field -->
        <div>
          <span>Created At: {{ userProfile.created_at }}</span>
        </div>
      </div>
      
      
      <div *ngSwitchCase="'donations'">
        <!-- Donations template -->
        <h2>Donations List</h2>
        <table>
          <thead>
            <tr>
              <th>Donation ID</th>
              <th>Donor ID</th>
              <th>Campaign ID</th>
              <th>Amount</th>
              <th>Transaction Date</th>

              <th>Action</th>
              <th>Recipt</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donation of donations">
              <td>{{ donation.id }}</td>
              <td>{{ donation.donor_id }}</td>
              <td>{{ donation.campaign_id }}</td>
              <td>{{ donation.amount }}</td>
              <td>{{ donation.transaction_date }}</td>
              <td> <button (click)="visitCampaign(donation.campaign_id)" > Visit Donation </button> </td>
              <td><button (click)="downloadReceipt(donation)"  >download</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>

      <div *ngSwitchCase="'balance'">
        <!-- Balance template -->
        <h2>Balance</h2>
        <p>Total Balance: {{ totalBalance }}</p>
        <!-- Add Balance -->
        <div>
          <label for="addBalance">Add Balance:</label>
          <input type="number" id="addBalance" name="addBalance" [(ngModel)]="newBalance">
          <button (click)="addBalance()">Add</button>
        </div>
      </div>

        <div *ngSwitchCase="'CreateCampaign'" class="campaign-form">
        <!-- Create Campaign form -->
          <h2>Create Campaign</h2>
          <form (ngSubmit)="createCampaignEntry()">
              <!-- Cause field -->
              <div class="form-group">
                  <label for="cause">Cause:</label>
                  <input type="text" id="cause" name="cause" [(ngModel)]="campaignData.cause" required>
              </div>

              <!-- Title field -->
              <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" id="title" name="title" [(ngModel)]="campaignData.title" required>
              </div>

              <!-- Description field -->
              <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description" [(ngModel)]="campaignData.description" required></textarea>
              </div>

              <!-- Goal Amount field -->
              <div class="form-group">
                  <label for="goalAmount">Goal Amount:</label>
                  <input type="number" id="goalAmount" name="goalAmount" [(ngModel)]="campaignData.goal_amount" required>
              </div>

              <!-- Start Date field -->
              <div class="form-group">
                  <label for="startDate">Start Date:</label>
                  <input type="date" id="startDate" name="startDate" [(ngModel)]="campaignData.start_date" required>
              </div>

              <!-- End Date field -->
              <div class="form-group">
                  <label for="endDate">End Date:</label>
                  <input type="date" id="endDate" name="endDate" [(ngModel)]="campaignData.end_date" required>
              </div>

              <!-- Beneficiary Name field -->
              <div class="form-group">
                  <label for="beneficiaryName">Beneficiary Name:</label>
                  <input type="text" id="beneficiaryName" name="beneficiaryName" [(ngModel)]="campaignData.beneficiary_name" required>
              </div>

              <!-- Beneficiary Age field -->
              <div class="form-group">
                  <label for="beneficiaryAge">Beneficiary Age:</label>
                  <input type="number" id="beneficiaryAge" name="beneficiaryAge" [(ngModel)]="campaignData.beneficiary_age" required>
              </div>

              <!-- Beneficiary City field -->
              <div class="form-group">
                  <label for="beneficiaryCity">Beneficiary City:</label>
                  <input type="text" id="beneficiaryCity" name="beneficiaryCity" [(ngModel)]="campaignData.beneficiary_city" required>
              </div>

              <!-- Beneficiary Mobile field -->
              <div class="form-group">
                  <label for="beneficiaryMobile">Beneficiary Mobile:</label>
                  <input type="tel" id="beneficiaryMobile" name="beneficiaryMobile" [(ngModel)]="campaignData.beneficiary_mobile" required>
              </div>

              <!-- Buttons to submit or cancel -->
              <button type="submit">Start Campaign</button>
              <button type="button" (click)="cancelCreateCampaign()">Cancel</button>
          </form>
        </div>
      
      <div class="ofhidden" *ngSwitchCase="'myCampaigns'">
        <h2>My Campaigns</h2>
        <div class="campaign-cards">
          <!-- Campaign cards will be rendered here -->
          <div class="campaign-card" *ngFor="let campaign of userCampaigns">
            <h3>{{ campaign.title }}</h3>
            <p class="desctext">Description: {{ campaign.description }}</p>
            <p>Goal Amount: {{ campaign.goal_amount }}</p>
            <p>Start Date: {{ campaign.start_date }}</p>
            <p>End Date: {{ campaign.end_date }}</p>
            <!-- Additional details -->
            <p>Beneficiary Name: {{ campaign.beneficiary_name }}</p>
            <p>Beneficiary Age: {{ campaign.beneficiary_age }}</p>
            <p>Beneficiary City: {{ campaign.beneficiary_city }}</p>
            <p>Beneficiary Mobile: {{ campaign.beneficiary_mobile }}</p>
            <p>Status: {{ campaign.status }}</p>
            <p>Created At: {{ campaign.created_at }}</p>
            <p>Updated At: {{ campaign.updated_at }}</p>
            <!-- Edit and Delete buttons -->
          
            <button *ngIf="campaign.status === 'active'" (click)="deactivateCampaign(campaign.id)">Deactivate</button>
            <button *ngIf="campaign.status === 'inactive'" (click)="activateCampaign(campaign.id)">Active</button>
            <button *ngIf="campaign.status === 'pending'">Pending State</button>


            <button (click)="deleteCampaign(campaign.id)">Delete</button> 
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  