.container {
  max-width: 1300px;
  margin: 0;
  padding: 20px;
}

.hero-section {
  background-color: #eeeeee;
  margin: 1px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  text-align: right;
}

.hero-section img {
  width: 500px;
  height: 300px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #000000;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.poster{
  max-width: 400px;
  max-height: 400px;
  right: 0;
}
.poster img{
  margin-top: 20px;
  width: 300px;
  height: 600px;
  /* height: 500px; */
}


.search-bar {
  margin-top: -80px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 3px;
  height: 40px;
  width: 850px;
  display: flex;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  font-size: 16px;
}

.donation-cards {
  display: flex;
  flex-wrap: wrap;
  color: #b9b9b9;
  margin-left: 0%; /* Adjust the left margin to create space from the left of the screen */
}

.donation-card {
  /* width: calc(20% - 50px); Adjust width to make the card smaller */
  width: 250px;
  margin: 20px;
  border: hidden;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.436);
  transition: box-shadow 0.1s;
  height: 100% /* Adjust the height of the cards */
}

.donation-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  padding-bottom: 0; /* Remove bottom padding for the image */
}

.donation-card p,
.donation-card h2,
.progress-bar,
.donation-card button {
  font-family: sans-serif;
  color: #333333;
  padding-left: 14px; /* Preserve padding for paragraphs, headings, progress bars, and buttons */
}


.donation-card:hover {
  box-shadow: 0 18px 26px rgba(71, 71, 71, 0.637); /* Enhanced box shadow on hover */
}

.desctext {
  width: 100%; /* Allow text to fill the width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowed content */
  text-overflow: ellipsis; 
}

.donation-card button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(26, 185, 177);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donation-card button:hover {
  background-color: rgba(30, 14, 12, 0.8);
}

/* Add these styles to your main.component.css file */

.progress-bar {
  width: 70%;
  height: 8px; /* Adjust height as needed */
  padding: 1px;
  background-color: #111111; /* Background color of the progress bar */
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px; /* Adjust margin as needed */
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: rgb(6, 163, 137); /* Color of the progress bar */
  border-radius: 5px;
}

.camp{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.first{
  margin-top: 100px;
}

